<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/userinfo.css">
    <title></title>
  </head>

  <body>
    <h1 align = "center">Week Work</h2>
    <p class="word">This is your last week summary :</p>
    <table>
      <tr>
      <td id="columnchart" width="50%"></td>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">

      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);


      // Draw the chart and set the chart values
      function drawChart() {
        var swim_t = 0;
        var running_t = 0;
        var mountaineering_t = 0;
        var cycling_t = 0;
        var ball_t = 0;
        var gym_t = 0;


        <%if(customers.rows.length>7){%>
          <% for (var i = customers.rows.length-7; i < customers.rows.length; i++) { %>
            swim_t += <%= customers.rows[i].swim %>;
            running_t += <%= customers.rows[i].running %>;
            mountaineering_t += <%= customers.rows[i].mountaineering %>;
            cycling_t += <%= customers.rows[i].cycling_sport %>;
            ball_t += <%= customers.rows[i].ball_games %>;
            gym_t += <%= customers.rows[i].gym_exercise %>;
          <% }; %>
        <%}%>
        <%if(customers.rows.length<=7){%>
          <% for (var i = 0; i < customers.rows.length; i++) { %>
            swim_t += <%= customers.rows[i].swim %>;
            running_t += <%= customers.rows[i].running %>;
            mountaineering_t += <%= customers.rows[i].mountaineering %>;
            cycling_t += <%= customers.rows[i].cycling_sport %>;
            ball_t += <%= customers.rows[i].ball_games %>;
            gym_t += <%= customers.rows[i].gym_exercise %>;
          <% }; %>
      <%}%>

        var data = google.visualization.arrayToDataTable([
        ['Sport', 'Hours last Seven_day'],
        ['Swim', swim_t],
        ['Aerobic Running', running_t],
        ['Mountaineering', mountaineering_t],
        ['Cycling Sport', cycling_t],
        ['Ball Games', ball_t],
        ['Gym Exercise', gym_t]
      ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Last seven Sport','height':350};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
        chart.draw(data, options);
      }
      </script>
      <td id="piechart" width="50%"></td>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">

      // Load google charts
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);


      // Draw the chart and set the chart values
      function drawChart() {
        var porkkg = 0;
        var fishkg = 0;
        var chickenkg = 0;
        var eggkg = 0;
        var ricekg = 0;
        var noodlekg = 0;



        <%if(customers.rows.length>7){%>
          <% for (var i = customers.rows.length-7; i < customers.rows.length; i++) { %>

            porkkg += <%= customers.rows[i].pork %>;
            fishkg += <%= customers.rows[i].fish %>;
            chickenkg += <%= customers.rows[i].chicken %>;
            eggkg += <%= customers.rows[i].egg %>;
            ricekg += <%= customers.rows[i].rice %>;
            noodlekg += <%= customers.rows[i].noodle %>;
          <% }; %>
        <%}%>
        <%if(customers.rows.length<=7){%>
          <% for (var i = 0; i < customers.rows.length; i++) { %>
            porkkg += <%= customers.rows[i].pork %>;
            fishkg += <%= customers.rows[i].fish %>;
            chickenkg += <%= customers.rows[i].chicken %>;
            eggkg += <%= customers.rows[i].egg %>;
            ricekg += <%= customers.rows[i].rice %>;
            noodlekg += <%= customers.rows[i].noodle %>;
          <% }; %>
      <%}%>

        var swim_t = 0;
        var running_t = 0;
        var mountaineering_t = 0;
        var cycling_t = 0;
        var ball_t = 0;
        var gym_t = 0;


        <%if(customers.rows.length>7){%>
          <% for (var i = customers.rows.length-7; i < customers.rows.length; i++) { %>
            swim_t += <%= customers.rows[i].swim %>;
            running_t += <%= customers.rows[i].running %>;
            mountaineering_t += <%= customers.rows[i].mountaineering %>;
            cycling_t += <%= customers.rows[i].cycling_sport %>;
            ball_t += <%= customers.rows[i].ball_games %>;
            gym_t += <%= customers.rows[i].gym_exercise %>;
          <% }; %>
        <%}%>
        <%if(customers.rows.length<=7){%>
          <% for (var i = 0; i < customers.rows.length; i++) { %>
            swim_t += <%= customers.rows[i].swim %>;
            running_t += <%= customers.rows[i].running %>;
            mountaineering_t += <%= customers.rows[i].mountaineering %>;
            cycling_t += <%= customers.rows[i].cycling_sport %>;
            ball_t += <%= customers.rows[i].ball_games %>;
            gym_t += <%= customers.rows[i].gym_exercise %>;
          <% }; %>
      <%}%>

        var data = google.visualization.arrayToDataTable([
          ['Food', 'Kg last Week'],
          ['Pork', porkkg],
          ['Fish', fishkg],
          ['Chicken', chickenkg],
          ['Egg', eggkg],
          ['Rice', ricekg],
          ['Noodlee', noodlekg]
      ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Last seven food','height':350};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
      var ca = 816*porkkg+175*fishkg+389*chickenkg+230*eggkg+350*ricekg+350*noodlekg;
      var lo = 550*swim_t+700*running_t+300*ball_t+300*gym_t+300*mountaineering_t+400*cycling_t;
      document.getElementById('sug_1').innerHTML="You get" +ca+ "calories in last seven days, and you lose" +lo+ "calories in the last seven days";

      </script>
    </tr>
    </table>
    <p align = "center" style="font-size:12px"> This is your summary chart.</p>
    <h3>These are your next week suggestion :</h3>
    <p class="word" id = 'sug_1'>1:</p>
    <p class="word">2:</p>
    <p class="word">3:</p>
    <h4 align = "center" style="font-size:30px">Best Wish!</h4>
  </div>

    <form action="back_info" method="post">
      <input style="display:none" type="text" value="<%= customers.rows[0].name %>" name="name" required>
      <button style="width:100px;height:50px" type="submit">BACK</button>
    </form>

  </body>
</html>
